body {
  padding-top: 100px;
  background-image: url("../images/filmWallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

select {
  margin-bottom: 3%;
}

button[type="submit"] {
  float: right;
}

.col-md-10 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 13px 13px 26px 6px rgba(0,0,0,0.71); 
}